<div>
  <p class="code-icons">
    <fa-icon [icon]="faCode"></fa-icon>
    <fa-icon [icon]="faCoffee"></fa-icon>
    <fa-icon [icon]="faAngular"></fa-icon>
    <fa-icon [icon]="faReact"></fa-icon>
    <fa-icon [icon]="faNodeJs"></fa-icon>
    <fa-icon [icon]="faAws"></fa-icon>
    <fa-icon [icon]="faGithub"></fa-icon>
    <fa-icon [icon]="faJsSquare"></fa-icon>
    <fa-icon [icon]="faLinux"></fa-icon>
    <fa-icon [icon]="faNpm"></fa-icon>
    <fa-icon [icon]="faSlack"></fa-icon>
    <fa-icon [icon]="faStackOverflow"></fa-icon>
  </p>
</div>