<div class="app_page">
  <h1 class="title">
    DevLife<span class="suffix">.ninja</span>
  </h1>
  <div class="description">
    <div class="quote">
      <p>
        My name is
        <span class="f-name">Nicholas&nbsp;</span>
        <span class="l-name">Hazel</span>
        and I breathe 
        <fa-icon [icon]="faCode"></fa-icon>...
      </p>
      <app-terminal></app-terminal>
      <p class="quote-extended">
        ...and drink 
        <fa-icon [icon]="faCoffee"></fa-icon>
      </p>
    </div>
    
  </div>
</div>